<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'cssInfo/main.css' %}">
</head>

<body>
    <nav>
        <div class="container">
            <h1>Panitia</h1>''

            <div class="menu">
                <a href="#">Dashboard</a>
                <a href="#">Rapat</a>
                <a href="#" class="is-active">Manage Pertandingan</a>
                <a href="#">Logout</a>
            </div>

            <button class="hamburger">
                <span class="material-icons">menu</span>
                <span></span>
                <span></span>
            </button>
        </div>
        
    </nav>
    <div class="container">
        <h2>PEMBUATAN PERTANDINGAN</h2>
        <form action="#">
            <div>
                <label for="selector">Stadium </label>
                <select class="classic" id="selector">
                    <option>Gelora Bung Karno Stadium</option>
                    <option>Pakansari Stadium</option>
                    <option>Si Jalak Harupat Stadium</option>
                    <option>Kanjuruhan Stadium</option>
                    <option>Kapten I Wayan Dipta Stadium</option>
                    <option>Manahan Stadium</option>
                    <option>Siliwangi Stadium</option>
                    <option>Sugathadasa Stadium</option>
                    <option>Sadar Wisata Stadium</option>
                    <option>Sriwedari Stadium</option>
                </select>
            </div>
            <div>
                <label for="Tanggal">Tanggal:</label>
                <input type="date" id="Tanggal" name="Tanggal">
            </div>
            <button onclick="goToListStadium()">Next</button>
        </form>
    </div>
    </div>

    <script>
        function goToListStadium() {
            // Perform the page navigation
            window.location.href = "{% url 'CRUDPembuatanPertandingan:listStadium' %}";
        }
    </script>
</body>

</html>