<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="main.css">
</head>

<body>
    <nav>
        <div class="container">
            <h1>Manajer</h1>

            <div class="menu">
                <a href="#" class="is-active">Dashboard</a>
                <a href="#">Mengelola Tim</a>
                <a href="#">Peminjaman Stadium</a>
                <a href="#">List Pertandingan</a>
                <a href="#">History Rapat</a>
                <a href="#">Logout</a>
            </div>

            <button class="hamburger">
                <span class="material-icons">menu</span>
                <span></span>
                <span></span>
            </button>
        </div>
        
    </nav>

    <div class="mobile-menu">
        <a href="#" class="is-active">Dashboard</a>
        <a href="#">Mengelola Tim</a>
        <a href="#">Peminjaman Stadium</a>
        <a href="#">List Pertandingan</a>
        <a href="#">History Rapat</a>
        <a href="#">Logout</a>
    </div>

    <div class="row">
        <div class="column">
            <div class="profile-card">
                <h3>Nama(depan&belakang)</h3>
                <p>Nomor HP</p>
                <p>Email</p>
                <p>Alamat</p>
                <p>Status</p>
              </div>
        </div>
        <div class="column">
            <div class="table-card">
                <h3>Tim</h3>
                <p>Belum memiliki Tim</p>
              </div>
        </div>
    </div>
    
    <script src="main.js"></script>
</body>
</html>