<!DOCTYPE html>
<html>
<head>
    <title>Form Registrasi</title>
    <link rel="stylesheet" href="main.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>

<body>
    <div class="container">
        <h2>BELI TIKET</h2>
        <form method="POST" action="{% url 'insert_pembelian' %}">
            {% csrf_token %}
            <div>
                <label for="jenis_tiket">Jenis Tiket</label>
                <select class="classic" id="jenis_tiket" name="jenis_tiket">
                    <option value="VIP">VIP</option>
                    <option value="Main East">Main East</option>
                    <option value="Kategori 1">Kategori 1</option>
                    <option value="Kategori 2">Kategori 2</option>
                </select>
            </div>
            <div>
                <label for="jenis_pembayaran">Pembayaran</label>
                <select class="classic" id="jenis_pembayaran" name="jenis_pembayaran">
                    <option value="Shopeepay">Shopeepay</option>
                    <option value="Gopay">Gopay</option>
                    <option value="Ovo">Ovo</option>
                    <option value="Dana">Dana</option>
                </select>
            </div>
            <button type="submit">Beli</button>
        </form>
    </div>
</body>
</html>
