<!DOCTYPE html>
<html>
<head>
	<title>Isi Rapat</title>
    <link rel="stylesheet" href="main.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>

<body>
    <div class="container">
        <h2>Rapat Pertandingan Dragons vs Jaguars</h2>
        <form action="#">   
            <div class="user-box">
				<label>Isi Rapat: </label>
				<textarea placeholder="Isi Rapat"></textarea>
			</div>
        </br>          
            <input type="button" name="" value="Submit">
        </form>
        </div>
    </div>
</body>

</html>