<!DOCTYPE html>
<html>

<head>
    <title>Form Registrasi</title>
    <link rel="stylesheet" href="main.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>

<body>
    <div class="container">
        <h2>PILIH STADIUM</h2>
        <form action="#">
            <div>
                <label for="selector">Stadium: </label>
                <select class="classic" id="selector">
                    <option>Gelora Bung Karno Stadium</option>
                    <option>Pakansari Stadium</option>
                    <option>Si Jalak Harupat Stadium</option>
                    <option>Kanjuruhan Stadium</option>
                    <option>Kapten I Wayan Dipta Stadium</option>
                    <option>Manahan Stadium</option>
                    <option>Siliwangi Stadium</option>
                    <option>Sugathadasa Stadium</option>
                    <option>Sadar Wisata Stadium</option>
                    <option>Sriwedari Stadium</option>
                </select>
            </div>
            <div>
                <label for="Tanggal">Tanggal:</label>
                <input type="date" id="Tanggal" name="Tanggal">
            </div>
            <input type="button" name="" value="Beli">
        </form>
    </div>
    </div>
</body>

</html>